@{
    ViewData["Title"] = "About";
}

<div class="container-fluid bg-opacity ">
    <div class="container ">
        <div class="row" style="padding:2rem; padding-bottom:2rem;">
            <div class="col-md-5">
                <h1>हमारे बारे में </h1>
                <hr style="width:10%; height:10px;border-width:0;color:green;background-color:green">
                <p class="h5">
                    मध्य प्रदेश खादी एवं ग्रामोद्योग बोर्ड, भोपाल में स्थित है, जिसकी स्थापना
                    1960-1961 में हुई थी। यह
                    बोर्ड खादी और ग्रामोद्योग के विकास और प्रचार-प्रसार में महत्वपूर्ण भूमिका निभाता है, साथ
                    ही आत्मनिर्भर
                    मध्य प्रदेश के सपने को साकार करने में भी योगदान देता है.
                </p>
            </div>
            <div class="col-md-7">
                <img src="../asset/Images/CM.png" alt="Icon"
                     style="width: 100%;  margin-right: 8px; padding-top: 47px; padding-bottom: 10px">
            </div>
        </div>
        <!-- <hr style="width:100%; height:1px;border-width:0;color:green;background-color:green"> -->
    </div>
</div>
<div class="container-fluid bg-light ">
    <div class="container ">
        <div class="col-md-12">
            <h3 class="bg-lightgreen">उद्देश्य:</h3>
            <p class="h5">
                खादी और ग्रामोद्योग के विकास के लिए योजना बनाना, संगठन करना और कार्यक्रमों का
                क्रियान्वयन करना।
            </p>
            <h3 class="bg-lightgreen">स्थापना:</h3>
            <p class="h5">
                यह बोर्ड, खादी और ग्रामोद्योग आयोग (केवीआईसी) के तहत काम करता है, जो कि
                सूक्ष्म, लघु और मध्यम उद्यम मंत्रालय के अंतर्गत आता है।
            </p>
            <h3 class="bg-lightgreen">अध्यक्ष:</h3>
            <p class="h5">
                मध्यप्रदेश खादी तथा ग्रामोद्योग बोर्ड के अध्यक्ष <b>श्री जितेन्द्र लिटोरिया</b>
                हैं।
            </p>
            <h3 class="bg-lightgreen">प्रबंध संचालक:</h3>
            <p class="h5">
                मध्यप्रदेश खादी तथा ग्रामोद्योग बोर्ड की प्रबंध संचालक <b>
                    श्रीमती अनुभा
                    श्रीवास्तव
                </b> हैं।
            </p>
            <h3 class="bg-lightgreen">कार्यक्षेत्र:</h3>
            <p class="h5">
                बोर्ड ग्रामीण क्षेत्रों में खादी और ग्रामोद्योग की स्थापना और विकास के लिए काम
                करता है, जो कि ग्रामीण विकास में लगी अन्य एजेंसियों के साथ समन्वय करके किया जाता है।
            </p>
            <h3 class="bg-lightgreen">उत्पाद:</h3>
            <p class="h5">
                बोर्ड खादी वस्त्र, हस्तशिल्प, और अन्य ग्रामोद्योग उत्पादों का उत्पादन और विपणन
                करता है।
            </p>
            <h3 class="bg-lightgreen">प्रशिक्षण:</h3>
            <p class="h5">
                बोर्ड ग्रामीण लोगों को खादी और ग्रामोद्योग से संबंधित कौशल प्रशिक्षण प्रदान
                करता है।
            </p>
            <h3 class="bg-lightgreen">विक्रय:</h3>
            <p class="h5">
                बोर्ड के उत्पाद, विभिन्न स्थानों पर स्थित एम्पोरियम और ऑनलाइन प्लेटफॉर्म पर
                उपलब्ध हैं।
            </p>
            <h3 class="bg-lightgreen">अन्य गतिविधियाँ:</h3>
            <p class="h5">
                बोर्ड समय-समय पर खादी और ग्रामोद्योग से संबंधित विभिन्न कार्यक्रम और
                प्रतियोगिताएं आयोजित करता है।
            </p>
            <h3 class="bg-lightgreen">संबंधित मंत्रालय:</h3>
            <p class="h5">
                खादी और ग्रामोद्योग आयोग (केवीआईसी) सूक्ष्म, लघु और मध्यम उद्यम मंत्रालय के
                अधीन है।
            </p>
        </div>
    </div>
</div>
